<div id="heading">
	
	<div id="inheading">
		
<div id="meetume">Meetume</div>

<div id="city">Fairfield, IA</div>

<div id="login">
	<form action="login">
<div id="emailcss">Email</div>
<div id="emailboxcss"><input type="text" name="email"/></div><br>
<div id="passwordcss">Password</div>
<div id="passboxcss"><input type="password" name="password"></div>
</form>
<div id="loginbutton"><input type="image" src="/login-button.png" width="125" height="48"></div>
</div>

<div id="signupbutton"><input type="image" src="/join-free.png" width="300" height="83"></div>

</div>

</div>

<div id="navigation">	
	<div id="streambutton"><input type="image" src="/streamlime.png" width="135" height="41"></div>
	<div id="postsbutton"><input type="image" src="/posts.png" width="135" height="41"></div>
	<div id="meetupsbutton"><input type="image" src="/meetups.png" width="135" height="41"></div>
	<div id="chatbutton"><input type="image" src="/chat.png" width="135" height="41"></div>
	<div id="groupsbutton"><input type="image" src="/groups.png" width="135" height="41"></div>
	<div id="peoplebutton"><input type="image" src="/people.png" width="135" height="41"></div>
	<div id="profilebutton"><input type="image" src="/profile.png" width="135" height="41"></div>
	</div>