	<div id="heading">
		
		<div id="inheading">
			
	<div id="meetume">Meetume</div>
	
	<div id="city">Fairfield, IA</div>
	
	<div id="login">
		<form action="login">
	<div id="emailcss">Email</div>
	<div id="emailboxcss"><input type="text" name="email"/></div><br>
	<div id="passwordcss">Password</div>
	<div id="passboxcss"><input type="password" name="password"></div>
	</form>
	<div id="loginbutton"><input type="image" src="/login-button.png" width="125" height="48"></div>
	</div>
	
	<div id="signupbutton"><input type="image" src="/join-free.png" width="300" height="83"></div>
	
	</div>
	
</div>