	<div id="heading">
		
		<div id="inheading">
			
	<div id="meetume">Meetume</div>
	
	<div id="city">Fairfield, IA</div>
	
	<div id="login">
		<form action="login">
	<div id="emailcss">Email</div>
	<div id="emailboxcss"><input type="text" name="email"/></div><br>
	<div id="passwordcss">Password</div>
	<div id="passboxcss"><input type="password" name="password"></div>
	</form>
	<div id="loginbutton"><a href="/login"><input type="image" src="/blank.png" width="125" height="48"></a></div>
	</div>
	
	<div id="joinbutton"><a href="/join"><input type="image" src="/blank.png" width="300" height="83"></a></div>
	
	</div>
	
</div>